@font-face {
	font-family: 'Open Sans Bold';
	src: local('Open Sans Bold'), url('../fonts/opensansbold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), url('../fonts/opensans.ttf');
}

@font-face {
	font-family: 'PT Sans Bold';
	src: local('PT Sans Bold'), url('../fonts/ptsansbold.ttf');
}

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');*/
*, :before, :after {
 /* -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box; */
 /* box-sizing: border-box; */
 margin: 0;
 padding: 0;
}
body{
	padding-right: 0px!important;
	padding-left: 0px!important;
	overflow-x: hidden;
	background: url(/images/body_bg.png);
	font-size: 15pt;
	font-family: 'Open Sans', sans-serif;
	 /*border-left: 1px solid black;*/
	 /*border-right: 1px solid black;*/
	  /* box-shadow: 0 0 4px rgba(0,0,0,0.5); */
	  /* background-color: #fff; */
}

/* img{
	margin-bottom: 15px;
	margin-top: 10px;
} */

a,p,h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
}
.icon-bar{
	background-color: black;
}
.active-nav{
	border: 1px solid grey;
}
.navbar{
	background-color: #fff;
	/* height: 70px; */
	padding-bottom: 0px !important;
	margin-bottom: 0px;
	border-bottom: 1px solid #ccc;
}
.navbar-nav > li > a:hover{
	color: #fb4b4b;
	background-color: #fff;

}
.collapsed{
	margin-top: 16px;
	z-index:9999;
}
.navbar-toggle:focus{
	margin-top: 16px;
}
.nav{
	margin-top: 10px;
}

.navbar-brand{
	margin-top: -17px;
}
.dropdown-menu{
	z-index:9999;
  background-color: #fff;
}
.dropdown-menu > li > a { 
  color: #444;
 }
 .dropdown{
 	z-index:9999;
  background-color: #fff;	
  float: center;
 }
 .dropdown:hover, .dropdown:active, .dropdown:focus{
  background-color: #fff;
 }
a{	
	text-decoration: none;
	color: #2f363d;
	font-weight: 700;
}

a:visited, a:link {
	text-decoration: none;
	color: #2f363d;
}

a:hover, a:active{
	text-decoration: none;
	color: #fb4b4b;
}
.value{
	font-weight: 700;
	font-size: 16px;
}
.item{
	margin-top: -10px;
}
.slider-img{
	/* width:100%; */
}
/* .main-text{
	margin-top: 30px;
} */
/* .main-text > h1{
	color: #fff;
	font-weight: 500;
}
.main-text > h3{
	color: #fff;
	font-weight: 500;
} */
/*Background's*/

 .pagination >  li > a {
    border-left: 0px !important;
    border-right: 0px !important;
  }

  .pagination >  li > a:hover {
  	color: #fb4b4b;
  }

.divider-hr{
	display: inline-block;
	width: 100px; 
	background-color: #fff;
	/* float: center;
	margin-left: 44%; */
}

.mainpage-part {
	padding-top: 40px;
}

.article, .article p, .article a {
	font-size: 15pt;
	font-family: 'Georgia', sans-serif;
}

.article.articles p, .article.articles a {
	font-size: 12pt;
}

.article h1, .article h2, .article h3 {
	font-family: 'Georgia';
	font-weight: 800;
}

.articles h3 {
	margin-top: 10px;
}

.article h1 {
	font-size: 24pt;
}

.article h2 {
	font-size: 22pt;
}

.article h3, #ratingTable h3 {
	font-size: 18pt;
}

.article p {
	text-align: justify;
	line-height: 1.7;
}

.article table.noborder {
	
}

.article .article-body p {
	margin-bottom: 15px;
}

.article ul, .article ol {
	margin-left: 25px;
}

.article .tags > ul {
	margin-left: 0;
}

.article .tags > ul > li > a {
	font-size: 12pt;
	font-family: 'Georgia';
	border: 1px solid grey;
	font-weight: 500;
}
.article .tags > ul > li{
	display: inline;
	list-style-type: none;
}

.article .tags > ul > li > h3 {
	display: inline-block;
}

.article .tagItem {
	margin-right: 5px;
}

.article .author {
	border: 1px solid #ccc; 
	padding: 0;
}

.article .author img {
	border-radius: 100%;
}

.article .author p {
	margin-bottom: 0;
	line-height: 1.2;
	text-align: left;
}

.article-header{
	background-color: #fb4b4b;
	height: 2px;
	margin: 10px 0px;
}
/*.second-article-header{
	background-color: #e8eced; height: 2px;
}*/
.article-id{
	/* margin-left: 3%;padding-top: 15px; */
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
}

.article-semi-head {
	/* font-family: 'PT Sans Bold', sans-serif;
	font-size: 20px; */
}

.card .article a, .card .article p {
	font-size: 12pt;
}


.all-article-id{
	float: right;color: #9c9d9d; padding: 5px;margin-top: -22px;margin-right: 20px;
}
.year{
	margin-right: 5px;
	/* border-radius: 10px;
	outline: none;
	margin-left: 2px;
	margin-right: 2px; */
}
.year:focus{
	background-color: #398DBF;
	color: #fff;
}
.great-news{ 
	margin-top: 5px;
	margin-bottom: 35px;
 }
.second-center{
	padding-left: 10px;
}
.type-of{
	list-style-type: none;
	padding-top: 5px;
}
.type-of > li { 
	padding-top: 10px;
 }

.type-of > li > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px; 
	font-weight: normal;
 }

/* .rating-rows{
	border-left: 2px solid #b4b4b4;
} */
.full-article-hr{
	width: 100%;
	color: #fb4b4b;
}
.first-place{
	background-color: #fec400;
	padding: 7px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 100px;
	margin-left: -5px;
	margin-right: 10px;
}
.second-place{
	background-color: #9e9e9e;
	padding: 7px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 100px;
	margin-left: -5px;
	margin-right: 10px;
}
.third-place{
	background-color: #a67c52;
	padding: 7px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 100px;
	margin-left: -5px;
	margin-right: 10px;
}
.simple-place{
	padding: 7px;
	padding-right: 15px;
	padding-left: 15px;
	color: #b4b4b4;
	margin-left: -5px;
	margin-right: 10px;
}

.linkrow:hover a, .linkrow:hover span  {
	color: #fb4b4b;
}

/* .li-border{
	border-bottom: 1px dotted black;width: 100%;
} */
.school-rating{
	text-align: left;list-style-type: none; margin-left: 20px;
}
.school-rating > li{
	padding-top: 20px;
}

/* .social-share > li {
	display: inline;
	list-style-type: none;
	padding: 7px;
}
.socialnetwork{
	background-color: red;
    padding: 5px;
    color: #fff !important;
}
.socialnetwork.fa.fa-facebook.fa-2x{
	padding-right: 11px !important;
	padding-left: 11px !important;
}
.socialnetwork.fa.fa-instagram.fa-2x{
	padding-right: 8px !important;
	padding-left: 8px !important;
} */


.chart-header {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}

 .chart-hr{
 	display: inline-block;
 	width: 200px;
 	height: 2px;
 	background-color: #fb4b4b;
 }
 .chart-field{
 	margin-top: 25px;
 }

 .education-article{
 	padding-top: 10px;
 	padding-bottom: 40px;
 	margin-bottom: 20px;
 }
  .education-article:hover{
 	background-color: rgba(0,0,0,0.06);
 }

/*  .fa{
	color: #ccc;;
} */

 .progress-field{
 	border-left: 1px solid black;
 }
 .progress-subject > li{
 	padding-bottom: 20px;
 	font-family: 'Open Sans', sans-serif;

 }

/*  .progress-subject > li > a{
	font-weight: normal;
} */
/*Button's*/
.btn-more {
	margin-top: 7%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Courier New';
  color: #ffffff;
  font-size: 20px;
  background: #fb4b4b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:0px;
  outline: none;
  border-radius: 7px;
}

.btn-more:hover {
  background: #fff;
	  color: #fb4b4b;
  text-decoration: none;
  border:1px solid #fb4b4b;
  text-decoration: none;
}
.way{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100%;
}
a.btn-way{
  font-family: 'Open Sans Bold', sans-serif;
  color: #fff;
  font-size: 13px;
  background: #fb4b4b;
  border:1px solid #fb4b4b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  border-radius: 7px;
}

.btn-way:hover{
	background: rgba(251,75,75, 0.0);
	color: #fb4b4b;
  text-decoration: none;
  
}
.registration{
	/* margin-top: 5%;
	margin-bottom: 3%; */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  /* font-family: Courier New; */
  color: #ffffff;
  /* font-size: 20px; */
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 13px;
  background: #fb4b4b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid #fb4b4b;
  outline: none;
  border-radius: 7px;
}
.registration:hover{
   background: rgba(251,75,75, 0.0);
   color: #fb4b4b;
  /* text-decoration: none;
  
  text-decoration: none; */
}
.news-way{
	margin-top: 15px;
}
.news-way:hover{
	background-color: rgba(0,0,0,0.06);
}

.news-semi-head{
	margin-top: 10px !important;
}
.news-field{
}

.stuffTable {
	width: 100%;
}

.stuffTable td{
	padding-top: 15px;
	vertical-align: top;
}

.stuffTable td.lc {
	width: 25%; 
	text-align: right; 
	padding-right: 20px;
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 22px;
	line-height: 26px;	
}

.stuffTable td.rc {
	text-align: left; 
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	line-height: 26px;
}

.stuffTable td.rc span {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

/* .education-center-info{
	margin-top: 0px;
	margin-bottom: 30px;
} */

/* .education-center-info > ul > li{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 22px;
	line-height: 26px;
}

.education-center-info > ul > li.extrali{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.education-center-info.second-center > ul > li{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}

.education-center-info > ul > li.extrali{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-top: 5px;
	line-height: 18px;
} */

.education-center-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: left;
}

.chart-class{
	list-style-type: none;
	text-align: right;
}
.chart-class > li { 
	padding-top: 40px;
 }
.chart-style{
	border-left: 1px solid grey;margin-top: 60px;margin-bottom: 50px;
}
.chart-info{
	margin-top: 60px;margin-bottom: 40px;
}


.education-center-info > ul > li{
	padding-top: 15px;
	padding-left: 0px;
}


.slider-img{
	max-height: 450px;
	width: 100%;
}

.advertis{
	background-color: #fff;; 
	height:820px;
	margin-top: 57px;
}
.education-ways:hover{
	background-color: black(0.8);
}

.foot-social {
	margin: 0;
}

.foot-social li {
	padding: 0 0 0 30px;
}

.foot-social li a:hover {
	color: #fb4b4b;
}

.foot-story{
	margin: 0;
	margin-top: 5px;
}

.foot-logo img {
	margin: 0;
}

.foot-social li a{
	color: #ccc;
}



@media screen and (max-width: 840px) {
	.jorik{
		margin-left: 0% !important;
	}
	.divider-hr{
		margin-left: 25%;
		width: 50%;
	}
	.chart-hr{
		/* margin-left: 25%; */
	}
	.article-semi-head{
	margin-top: 15px;
	}
	.news-semi-head{
	margin-bottom:  30px !important;
} 

}




@media screen and (max-width: 640px){
.mobile-slider, .item, .slider-img{
	min-height: 90vh;
}
.foot-logo{
	margin-top: 0px;
}
.foot-social{
	margin-top: 0px;
}
.foot-story{
	margin-top: 0px;
}
.education-center-info > ul > li{
	padding: 10px;
	padding-left: 1px;
}
}