html, body {
	height: 100%;
}

.wrapper {
	padding-top: 61px;
	min-height: 100%; 
	margin-bottom: -88px;
}

.wrapper:after {
	content: ""; 
	display: block;
}

.foot_container {
/*	padding: 20px 0 20px 0;*/
}

.footer, .wrapper:after {
	height: 88px;
}

.footer {
	background-color: #222;
	color: #ccc;
}

.clear { clear: both; }
.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h60 { height: 60px; }

a.nodecoration:hover {
	text-decoration: none;
}

.lightred { background-color: #f2dede}
.lightyellow { background-color: #fcf8e3}
.lightgreen { background-color: #dff0d8}

.img-center { margin: 0 auto; }

.selectedLink {
	color: #fb4b4b;
}

table.noborder td, table.noborder th {
	border: none !important;
}

table.border td, table.border th {
	border: 1px solid #ddd !important;
}

.table-hover > tbody > tr:hover {
  background-color: #ddd;
}

.navbar-bs {
	background-color: #fff;
	border-bottom: 1px solid #444;
}

.navbar-nav > li > a {
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 14px;
	color: #444;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: none;
}

.dropdown-menu > li > a:hover {
	background: none;
	color: #fb4b4b;
}

.navbar-bs .navbar-brand {
	padding: 0;
	margin: 0 15px;
}

.navbar-bs.navbar-toggle {
	border-color: #444;
    
}

.navbar-bs.navbar-toggle:hover, .navbar-bs.navbar-toggle:focus {
	background-color: #fdc501;   
}

.navbar-bs.navbar-toggle span.icon-bar{
	background-color: #888;
}

.btn-bs {
	border: 1px solid #adadad;
	padding: 5px 10px !important;
	margin: 8px 5px;
	background-color: #fdc501;
}

.panel-bs > .panel-heading:not(.collapsed) {
	background: none;
	color: #3c763d;
}

/* .btn-primary.year {
	color: #fff;
	background-color: #fb4b4b;
	border-color: #f63e38;
} */

.btn-edu, .btn-edu:hover {
	color: #fff;
	background-color: #fb4b4b;
	border-color: #f63e38;
}

/*ОФОРМЛЕНИЕ ГЛАВНОЙ*/

/* section {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 50px 5px 10px 5px;
	font-family: Arial, Tahoma, sans-serif;
} */

/* .mainSection:nth-child(2n){
	background-color: #5860a1;
	color: white;
}

.mainSection:nth-child(2n+1){
	background-color: #ffc853;
	color: black;
} */

.mainSection h1 {
	display: inline-block;
	/* font-style: italic; */
	color: #4283c0;
	margin-bottom: 20px;
	border-bottom: 3px solid #e8b503; /*fdc501*/
}

.well {
	color: black;
}

.shadow:hover {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.newsItem {
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}

#mainNews .newsItem h3 {
	margin-top: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 200;
}

#mainNews .newsItem img {
	margin-bottom: 10px;
}

#mainBenefits .well img {
	float: left;
	margin-right: 10px;
}

#mainRating h4 {
	margin-top: 0;
}

#subj ul {
	border-right: 2px solid #b4b4b4;
}

#subj li {
	padding-bottom: 3px;
}

#subj li:hover, #noko li:hover {
	color: #fb4b4b;
	cursor: default;
}

/***************************/

/*ОФОРМЛЕНИЕ РАЗДЕЛОВ*/

#theMaterial img {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

#theMaterial input {
	margin-top: 10px;
	width: 100%;
}

#olympicMain .well h4, #generHistTests .well h4 {
	font-size: 16px;
}

#olympicMain a:hover h4, #generHistTests a:hover h4 {
	color: #4283c0;
}

#theTest img {
	margin: 10px 0;
}

#theTest .question {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
}

#theTest .question .correctAnswer, #theTest .question #pResult {
	margin-top: 10px;
}

.controlPanel button {
	margin: 3px;
}

#theSchool .title {
	text-transform: uppercase;
	margin-bottom: 0px;
}

#theSchool .subject h5 {
	margin-bottom: 0px;
	font-weight: 700;
}

#editSchool #persons label {
	display: block;
}

#editSchool #person input {
	margin-bottom: 5px;
}

#editSchool #stuffCount {
	display: none;
}

#editSchool .person {
	padding: 5px;
	margin: 5px 0 15px 0;
}

#editSchool .person:nth-child(2n) {
	background-color: #d9edf7;
}

/**************************/

/*ОФОРМЛЕНИЕ КУРСОВ*/

.coursesMain .week {
	margin-bottom: 30px;
}

.coursesMain .week a {
	display: block;
	padding-bottom: 5px;
}

.coursesMain .panel-heading:hover {
	cursor: pointer;
}

.coursesMain .panel-heading span.beforeItem:before {
	font-family: FontAwesome;
	content: "\f0d8  ";
}

.coursesMain .panel-heading.collapsed span.beforeItem:before {
	font-family: FontAwesome;
	content: "\f0d7  ";
}

.coursesMain .tooltipInfo:hover {
	color: #4283c0;
}

#theTheory img {
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0 10px 10px 0;
}

#theTheory .spoiler a {
	margin-bottom: 10px;
	white-space: normal; 
	text-align: left;
}

#theTheory .spoiler a:before {
	font-family: FontAwesome;
	content: "\f0d8  ";
}

#theTheory .spoiler a.collapsed:before {
	font-family: FontAwesome;
	content: "\f0d7  ";
}

#theTheory .lb-nav a.lb-prev {
	background: url(../images/prev.png) left 48% no-repeat;
}



/**************************/

/*ТЕСТОВЫЕ МАТЕРИАЛЫ*/

/* #mainMaterials {
	background-color: white;
	color: black;
	font-family: Arial, Tahoma, sans-serif;
} */

/* #mainMaterials h1 {
	font-style: normal;
	color: #4283c0;
	margin-bottom: 20px; 
} */

#mainMaterials img {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

#mainMaterials img:hover {
	transition: 0.5s linear;
	transform: scale(1.1);
}

#mainMaterials .book {
	border: 1px solid red;
}

#mainMaterials .price {
	position: relative;
	bottom: 0;
	font-size: 20px;
	font-weight: 700;
}

#carousel .carousel-caption {
	bottom: 50%;
	padding: 0;
}

/***************************/

/*АДАПТАЦИЯ*/

@media screen and (max-width: 1330px) {
	#carousel .carousel-caption {
		bottom: 15%;
		padding: 0;
	}
}

@media screen and (max-width: 767px) {
	.nav-pills > li {
		width: 100%;
	}

	.notmobile {
		display: none;
	}

	.mobile-slider {
		display: none;
	}

	.masonry[data-columns]:before{
		content: '1 .col-xs-12';
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.mobile {
		display: none;
	}

	.mobile-slider {
		display: none;
	}

	.masonry[data-columns]:before{
		content: '2 .col-xs-6';
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.mobile {
		display: none;
	}

	.masonry[data-columns]:before{
		content: '3 .col-xs-4';
	}
}

@media screen and (min-width: 1200px) {
	.mobile {
		display: none;
	}

	.masonry[data-columns]:before{
		content: '3 .col-xs-4';
	}
}


/***************************/